root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
insert_final_newline = true
quote_type = auto
trim_trailing_whitespace = true

[*.{css, html,scss}]
quote_type = double

[Makefile]
indent_style = tab

[*.md]
max_line_length = 0
trim_trailing_whitespace = false
